@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  transition: .4s;
}

body, html {
  height: 100%;
}

/*Background*/

.bg {
  background-image: url("Woods.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg.active{
  background-image: url("Woods.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg.active2{
  background-image: url("Road.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg.active3{
  background-image: url("Sunset.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Background*/
/*Menu*/

.menu{
  height: 80px;
  width: 100%;
  background-color:rgba(226, 226, 226, 0.9);
  box-shadow: 0px 5px 8px #111419;
}

.menu nav .logo{
  color: #272727;
  font-size: 25px;
  line-height: 80px;
  margin-left: 45px;
}

.menu nav .buttons{
  float: right;
  margin-right: 45px;
  color: #272727;
}

.menu nav .buttons .button{
  float: left;
  padding: 10px;
  margin-left: 10px;
  transform: translateY(-55px);
  text-decoration: none;
  color: #272727;
}

/*Menu*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  box-shadow: 0px 1px 4px #111419;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  float: left;
  padding: 10px;
  margin-left: 10px;
  transform: translateY(-55px);
  text-decoration: none;
}

.fa-google {
  background: #dd4b39;
  color: white;
  float: left;
  padding: 10px;
  margin-left: 10px;
  transform: translateY(-55px);
  text-decoration: none;
}

/*Pages*/

.work{
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  margin-top: -130px;
}

.work.on{
  opacity: 1;
}

.bild1{
  width: 49%;
  height: 49%;
  background-image: url("Fotoholder4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin: 2px;
}

.bild1.up{
  border-radius: 10%;
}

.photos1{
  display: block;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  color: #272727;
  height: 100%;
  width: 100%;
}

.photos{
  opacity: 0;
  text-align: center;
  margin-top: 105px;
  font-size: 35px;
  color: #262626;
}

.photos.up{
  opacity: 1;
}

.bild2{
  width: 49%;
  height: 49%;
  background-image: url("Fotoholder4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin: 2px;
}

.bild2.up{
  border-radius: 10%;
  box-shadow: 0px 1px 4px #111419;
}

.logos1{
  display: block;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  color: #272727;
  height: 100%;
  width: 100%;
}

.logos{
  opacity: 0;
  text-align: center;
  margin-top: 105px;
  font-size: 35px;
  color: #262626;
}

.logos.up{
  opacity: 1;
}


.bild3{
  width: 49%;
  height: 49%;
  background-image: url("Fotoholder4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin: 2px;
}

.bild3.up{
  border-radius: 10%;
  box-shadow: 0px 1px 4px #111419;
}

.models1{
  display: block;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  color: #272727;
  height: 100%;
  width: 100%;
}

.models{
  opacity: 0;
  text-align: center;
  margin-top: 105px;
  font-size: 35px;
  color: #262626;
}

.models.up{
  opacity: 1;
}


.bild4{
  width: 49%;
  height: 49%;
  background-image: url("Fotoholder4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin: 2px;
}

.bild4.up{
  border-radius: 10%;
  box-shadow: 0px 1px 4px #111419;
}

.favorites1{
  display: block;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  color: #272727;
  height: 100%;
  width: 100%;
}

.favorites{
  opacity: 0;
  text-align: center;
  margin-top: 105px;
  font-size: 35px;
  color: #262626;
}

.favorites.up{
  opacity: 1;
}



/*Pages*/

/*Slide1*/

.sideclass{
  display: block;
  width: 70%;
  padding: 12.5px;
  text-decoration: none;
  color: #272727;
  float: left;
  text-align: center;
  cursor: auto;
}

.sideclass.active{
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}

.side{
  background: #e2e2e2;
  width: 200px;
  height: 40px;
  margin-top: 15px;
  opacity: 0.6;
}

.side.active{
  opacity: 1;
  -webkit-transform: scaleX(1.5) scaleY(1.1);
  transform: scaleX(1.5) scaleY(1.1);
  box-shadow: 0px 5px 8px #111419;
}

/*Slide1*/
/*Slide2*/

.sideclass2{
  display: block;
  width: 70%;
  padding: 12.5px;
  text-decoration: none;
  color: #272727;
  float: left;
  text-align: center;
  cursor: auto;
}

.sideclass2.active2{
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}

.side2{
  background: #e2e2e2;
  width: 200px;
  height: 40px;
  margin-top: 15px;
  opacity: 0.6;
}

.side2.active2{
  opacity: 1;
  -webkit-transform: scaleX(1.5) scaleY(1.1);
  transform: scaleX(1.5) scaleY(1.1);
  box-shadow: 0px 5px 8px #111419;
}


/*Slide2*/
/*Slide3*/

.sideclass3{
  display: block;
  width: 70%;
  padding: 12.5px;
  text-decoration: none;
  color: #272727;
  float: left;
  text-align: center;
  cursor: auto;
}

.sideclass3.active3{
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}

.side3{
  background: #e2e2e2;
  width: 200px;
  height: 40px;
  margin-top: 15px;
  opacity: 0.6;
}

.side3.active3{
  opacity: 1;
  -webkit-transform: scaleX(1.5) scaleY(1.1);
  transform: scaleX(1.5) scaleY(1.1);
  box-shadow: 0px 5px 8px #111419;
}

/*Slide3*/
