@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  transition: .4s;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("Woods.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg.active{
  background-image: url("Woods.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg.active2{
  background-image: url("Road.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg.active3{
  background-image: url("Sunset.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu{
  height: 80px;
  width: 100%;
  background: #e2e2e2;
  box-shadow: 0px 5px 8px #111419;
}

.menu nav .logo{
  color: #272727;
  font-size: 25px;
  line-height: 80px;
  margin-left: 10px;
}

.menu nav .buttons{
  float: right;
  margin-right: 30px;
  color: #272727;
}

.menu nav .buttons .button{
  float: left;
  padding: 10px;
  margin-left: 10px;
  transform: translateY(-55px);
  text-decoration: none;
  color: #272727;
}

.sideclass{
  display: block;
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: #272727;
  float: left;
  text-align: center;
}

.sideclass.active{
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}

.side{
  background: #e2e2e2;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  opacity: 0.6;
}

.side.active{
  opacity: 1;
  -webkit-transform: scaleX(1.5) scaleY(1.1);
  transform: scaleX(1.5) scaleY(1.1);
  box-shadow: 0px 5px 8px #111419;
}


.sideclass2{
  display: block;
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: #272727;
  float: left;
  text-align: center;
}

.sideclass2.active{
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}

.side2{
  background: #e2e2e2;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  opacity: 0.6;
}

.side2.active2{
  opacity: 1;
  -webkit-transform: scaleX(1.5) scaleY(1.1);
  transform: scaleX(1.5) scaleY(1.1);
  box-shadow: 0px 5px 8px #111419;
}

.sideclass2{
  display: block;
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: #272727;
  float: left;
  text-align: center;
}

.sideclass2.active2{
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}

.side3{
  background: #e2e2e2;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  opacity: 0.6;
}

.side3.active3{
  opacity: 1;
  -webkit-transform: scaleX(1.5) scaleY(1.1);
  transform: scaleX(1.5) scaleY(1.1);
  box-shadow: 0px 5px 8px #111419;
}
